.nav-button {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 285px;
}

.nav-button.green {
  background-color: #28a745;
}

.nav-button.blue {
  background-color: #007bff;
}

.nav-button:hover {
  opacity: 0.9;
}