.login-container {
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.btnAuth {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  margin: 0 auto;
  width: 180px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}